.card-image-h {
  height: 250px;
  padding: 10px;
}

.card-image-h img{
  width: auto!important;
  height: 100%;
  margin: auto;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mr-2 {
  margin-right: 2rem;
}

.p1 {
  padding: 1rem;
}

.p2 {
  padding: 2rem;
}
